.main {
  background-color: #1C1B1F;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 87px); 
}

.custom-button {
  background-color: #00ADC6;
  border: none;
  font-size: 22.4px;
  margin-right: 20px;
  color: "white";
  margin-top: 15px;
  padding: 10px 10px 10px 100px;
  transition: background-color 0.3s ease;
  text-align: left;
}

.custom-button:hover {
  background-color: #393E46;
}